In [ ]:
print('hi')

hi

In [ ]:
# 사용자에게 자연수 2개를 입력받아, n1이 n2의 약수인지, 배수인지, 약수도 배수도 아닌지 확인
# 약수 : 어떤 자연수를 나머지 없이 나눌 수 있는 자연수
# 배수 : 어떤 자연수의 몇 배가 되는 자연수

n1, n2 = map(int, input('Enter two positive integers: ').split())

if n1 % n2 == 0:
    print(f'{n1} is a multiple of {n2}.') # multiple은 배수
elif n2 % n1 == 0:
    print(f'{n1} is a factor of {n2}') # factor은 약수
else:
    print(f'{n1} is neither a multiple of {n2} nor a factor.')

# n2 % n1 != 0 and n1 % n2 != 0

4 is a factor of 16

In [ ]:
# 국, 영, 수 평균을 구하고 각각의 평균 점수와 등급을 적으시오
# 만약 0 ~ 100의 숫자가 아닌 다른 숫자를 입력하면 다시 입력하시오가 나오게 하시오

국어 = int(input('Enter the Korean score: '))
영어 = int(input('Enter the English score: '))
수학 = int(input('Enter the Math score: '))

average = (국어 + 영어 + 수학) / 3

# 입력값 검증
if not (0 <= 국어 <= 100) or not (0 <= 영어 <= 100) or not (0 <= 수학 <= 100):
    print("❌ 점수는 0 이상 100 이하의 값만 입력해야 합니다!, 다시 입력하시오")

else:
    if average >= 90:
        print(f'평균점수 : {average:.1f}, A등급')
    elif 80 <= average < 90:
        print(f'평균점수 : {average:.1f}, B등급')
    elif 70 <= average < 80:
        print(f'평균점수 : {average:.1f}, C등급')
    elif 60 <= average < 70:
        print(f'평균점수 : {average:.1f}, D등급')
    else:
        print(f'평균점수 : {average:.1f}, F등급')

평균점수 : 83.3, B등급

In [34]:
# 사용자에게 자연수를 입력받아 3의 배수인지 4의 배수인지 둘다인지 확인하기.

n3 = int(input('Enter a positive integer: '))

if n3 <= 0:
    print('ERROR : Invalid value!')

else:
    if n3 % 3 == 0 and n3 % 4 == 0:
        print(f'{n3} is a multiple of 3 and a multiple of 4.')
    elif n3 % 3 == 0:
        print(f'{n3} is a multiple of 3.')
    elif n3 % 4 == 0:
        print(f'{n3} is a multiple of 4.')
    else:
        print(f'{n3} is neither a multiple of 3 nor a multiple of 4.')

ERROR : Invalid value!

In [ ]:
# 사용자에게 정수 2개를 입력받아 출력하고, 두 변수를 교환(swap)

n4, n5 = map(int, input('Enter two integers: ').split())

print(f'n4 = {n4}, n5 = {n5}')

tmporary_vaiable = n4 # 임시변수
n4 = n5
n5 = tmporary_vaiable

print(f'n4 = {n4}, n5 = {n5}')

n4 = 7, n5 = 15
n4 = 15, n5 = 7

In [ ]:
# 파이썬에서 할 수 있는 다중대입
# n4, n5 = (10, 20)

#다중 대입으로 변수 n1과 n2를 교환
n4, n5 = n4, n5
# → n1, n2 = (n2, n1)
# → n1, n2 = (10, 20)

print(f'n4 = {n4}, n5 = {n5}')

n4 = 15, n5 = 7