In [7]:
names = ['Kim', 'Park', 'Cho']
print(names)
print(names[0])

['Kim', 'Park', 'Cho']
Kim

In [8]:
names[1] = 'Lee'
names

['Kim', 'Lee', 'Cho']

In [9]:
names.append('Gwang')
names

['Kim', 'Lee', 'Cho', 'Gwang']

In [10]:
names.remove('Lee')
names

['Kim', 'Cho', 'Gwang']

In [11]:
values = list()
values

[]

In [12]:
values.append(3)
values.append(7)
values

[3, 7]

In [ ]:
# sort메소드 : 오름차순 정렬

values2 = [23, 17, 42, 3, 21]
values2.sort()
names.sort()
print(values2)
print(names)

[3, 17, 21, 23, 42]
['Cho', 'Gwang', 'Kim']

In [26]:
# reverse메소드 : 내림차순 정렬

values2.sort(reverse=True)
print(values2)

[42, 23, 21, 17, 3]

In [ ]:
# 아스키 코드 숫자크기 비교

print('Hello' < 'Hi')
print('Dream comes true!' > 'Do your best!')

True
True

In [ ]:
# 리스트는 또 변수를 이렇게 지정이 가능하다.

n1, n2 = [1, 2, 3], [4, 5, 6]
print(f'{n1}, {n2}')
print(f'{n1, n2}')

[1, 2, 3], [4, 5, 6]
([1, 2, 3], [4, 5, 6])

In [ ]:
# range 함수 : 지정한 범위에 포함된 연속된 정수들의 묶음을 생성, range와 list는 변환함수이다.

for i in range(1, 11): # 1부터 10까지의 정수 생성하기
    print(i, end='\t')
print()

1	2	3	4	5	6	7	8	9	10

In [37]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]과 range(1, 11)차이는 무엇인가

# [1]은 요소 하나, range(1)은 다르다. 즉, 저장공간으로치면 요소는 40을 썼다면 range는 4밖에 안쓰는 것이다. 즉, range를 쓰면 저장공간을 아낄 수 있다.

In [ ]:
# range함수에서 1부터 2씩 증가하는 정수들의 묶음을 생성하기
numbers = list(range(1, 11, 2))

# 10에서부터 1까지 감소하는 정수들의 묶음을 생성
minus = list(range(10, 0, -1))
print(f'{numbers}, {minus}')

[1, 3, 5, 7, 9], [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

리스트와 튜플의 차이 : 변경 가능 여부

리스트 : 가변(mutable)으로, 요소를 추가, 수정, 삭제할 수 있다.
튜플 : 불변(immutable)으로, 한 번 생성하면 요소를 변경할 수 없습니다.

In [ ]:
# 사전형

scores = {'Kim': 92, 'Park' : 78, 'Cho' : 86} # cho = 키(key), 86 = 요소(element)
scores

{'Kim': 92, 'Park': 78, 'Cho': 86}

사전형과 집합의 차이 : 사전형은 키와 요소 전부다있고 집합은 요소만 있다.

In [47]:
names = {'Kim', 'Park', 'Cho'}
names

{'Cho', 'Kim', 'Park'}

In [ ]:
names_A = {'Kim', 'Park', 'Hong'}
names_B = {'Kang', 'Park', 'Jang'}

print(names_A - names_B)
print(names_A & names_B)
print(names_A | names_B)
print(names_A ^ names_B)

{'Kim', 'Hong'}
{'Park'}
{'Jang', 'Kim', 'Hong', 'Kang', 'Park'}
{'Jang', 'Kim', 'Hong', 'Kang'}

In [ ]:
# 연습문제 : 리스트 'values'에서 중복된 요소들을 제거 

values = [2, 1, 2, 5, 3, 6, 3, 5, 4, 1, 7, 1]

# list(set(values)) #chatGPT답

print('values =', values)

values_set = set(values)

print('values_set = ',values_set)

values = [2, 1, 2, 5, 3, 6, 3, 5, 4, 1, 7, 1]
values_set =  {1, 2, 3, 4, 5, 6, 7}

In [53]:
values = list(values_set)
print('values = ', values_set)

values =  {1, 2, 3, 4, 5, 6, 7}

In [56]:
values = [2, 1, 2, 5, 3, 6, 3, 5, 4, 1, 7, 1]

values = list(set(values))

print('values =', values)

values = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 딕셔너리 함수도 고려해보기 : dict()